* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
}

.all-cards-container {
    height: 270px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.card-container + .card-container {
    margin-left: 30px;
}

.card-container {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px 40px;
}

.card-container > div {
    margin-bottom: 15px;
}

.card-container:nth-child(3n+1) {
    background: rgb(255, 189, 146);
    background: linear-gradient(90deg, rgba(255, 189, 146, 1) 0%, rgba(253, 131, 164, 1) 100%);
}

.card-container:nth-child(3n+2) {
    background: rgb(141, 201, 247);
    background: linear-gradient(90deg, rgba(141, 201, 247, 1) 0%, rgba(51, 150, 226, 1) 100%);
}

.card-container:nth-child(3n+3) {
    background: rgb(174, 225, 224);
    background: linear-gradient(90deg, rgba(174, 225, 224, 1) 0%, rgba(33, 211, 185, 1) 100%);
}

.card-container::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    right: -20%;
    top: -70px;
    background: rgba(255, 255, 255, 0.2);
}

.card-container::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    right: -40px;
    bottom: -130px;
    background: rgba(255, 255, 255, 0.2);
}

.card-header-container {
    position: relative;
    width: 100%;
    height: 25px;
}

.card-title {
    display: inline-block;
    position: absolute;
    left: 0;
}

.card-icon {
    display: inline-block;
    position: absolute;
    right: 0;
}

.card-icon > svg {
    width: 24px;
    height: 24px;
}

.card-value {
    text-align: left;
    font-size: 36px;
    font-weight: 700;
}

.card-info {
    font-size: 18px;
    padding-top: 20px;
    text-align: left;
}
